<h1>Marketplace Quotes</h1>

<p>Enter the Id of the Quote to view:</p>

<input type="number" [(ngModel)]="selectedQuoteId"  (input)="clearStatuses()"/>

<button *ngIf="!retrievingQuote" class="btn btn-primary" (click)="retrieveQuote()">Retrieve Quote</button>

<div *ngIf="retrievingQuote">
  <p>Retrieving id: <strong>{{ selectedQuoteId }}</strong></p>
</div>
<div *ngIf="retrievalMessage" class="status-message-ok">
  <p>Quote with id {{ selectedQuoteId }}: <strong>{{ retrievalMessage }}</strong></p>
</div>

<div *ngIf="!errorMessage">
  <p *ngIf="retrievingQuote"><em>Loading...</em></p>
  <app-marketplace-quote-details-component *ngIf="quote" [quote]="quote"></app-marketplace-quote-details-component>
</div>
<div *ngIf="errorMessage" class="status-message-failure">
  <p>Quote with id {{ selectedQuoteId }}: <strong>{{ errorMessage }}</strong></p>
</div>
